body{ 
	background-image:url(https://png.pngtree.com/background/20210709/original/pngtree-simple-robot-advertising-background-picture-image_944490.jpg);
	background-size:100%;
	
}
.container{
	Font-color:white;

}
h4{
	font-color:white ;
}

